#footer {
  width: 100%;
  height: 180px;
  // background: red;
}
.footer_inner {
  width: 1000px;
  height: 180px;
  margin: 0 auto;
  background: black;
  position: relative;
  ul {
    width: 100%;
    height: 30px;
    padding-top: 18px;
    padding-bottom: 50px;
    // background: black;
    text-align: center;

    li {
      cursor: pointer;
      display: inline-block;
      margin: 0 10px;
      color: white;
      font-size: 12px;
    }
  }
}
.footer_img_content{
  position: absolute;
  width:66.5px;
  height:50px;
  left:50%;
  margin-left:-25px;
  top: 50px;
  img{
    width:100%;
    height:100%;
  }
}
.footer_inner p{
  width:1000px;
  height:19px;
  margin: 12px 0;
  // background: yellow;
  color: white;
  font-size: 12px;
  text-align: center;
}
.footer_warning{
  width: 1000px;
  height:34px;
  // background: blue;
  text-align: center;

  img{
    width:60px;
    height:100%;
  }
}