#section_1 {
  width: 1000px;
  margin: 0 auto;
  .section_1_title {
    height: 30px;
    margin: 20px auto;
    position: relative;
    text-align: center;
  }
}
.section_1_title:before {
  background: #b7b7b7;
  content: "";
  height: 1px;
  left: 1.5%;
  position: absolute;
  top: 15px;
  width: 97%;
}
.section_1_title h1 {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin: 0 auto;
  font-size: 30px;
  padding: 0 40px;
  background: white;
  position: relative;
  color: #333;
}

// 内容
.section_1_wrap_title {
  width: 1000px;
  ul {
    height: 250px;
    li {
      width: 240px;
      height:230px;
      float: left;
      cursor: pointer;
      // float: left;
      a {
        margin-left: 55px;
        font-size: 24px;
        line-height: 30px;
        display: block;
        color: #333;
        outline: medium none;
        overflow: hidden;
        text-decoration: none;
      }
      &:hover a{
        text-decoration: underline;
      }
    }
  }
}
.section_1_inner1_content{
  width: 1000px;
  display: none;
  ul{
    height: 300px;
    li{
      float: left;
      width:248px;
      height: 300px;
      text-align: center;
      a:first-child{
        display: inline-block;
        width: 165px;
        // height: 180px;
        img{
          width: 165px;
          height:165px ;
        }
      }
      
    }
  }
}
.section_1_inner1_content ul li:hover{
  border: 1px solid black;
}

.p-l-name{
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  color: black;
  margin-top: 10px;
}
.p-l-price{
  display: inline-block;
  text-align: center;
  width: 165px;
  margin-top: 40px;
  font-size: 14px;
  font-weight: bold;
}


.section_1_inner2_content{
  width: 1000px;
  display: none;
  ul{
    height: 300px;
    li{
      float: left;
      width:248px;
      height: 300px;
      text-align: center;
      a:first-child{
        display: inline-block;
        width: 165px;
        // height: 180px;
        img{
          width: 165px;
          height:165px ;
        }
      }
      
    }
  }
}
.section_1_inner2_content ul li:hover{
  border: 1px solid black;
}


.section_1_inner3_content{
  width: 1000px;
  display: none;
  ul{
    height: 300px;
    li{
      float: left;
      width:248px;
      height: 300px;
      text-align: center;
      a:first-child{
        display: inline-block;
        width: 165px;
        // height: 180px;
        img{
          width: 165px;
          height:165px ;
        }
      }
      
    }
  }
}
.section_1_inner3_content ul li:hover{
  border: 1px solid black;
}



.section_1_inner4_content{
  width: 1000px;
  display: none;
  ul{
    height: 300px;
    li{
      float: left;
      width:248px;
      height: 300px;
      text-align: center;
      a:first-child{
        display: inline-block;
        width: 165px;
        // height: 180px;
        img{
          width: 165px;
          height:165px ;
        }
      }
      
    }
  }
}
.section_1_inner4_content ul li:hover{
  border: 1px solid black;
}



.viewAll_button {
  width: 1000px;
  height: 48px;
  // background: blue;
  text-align: center;
  position: relative;
  margin-top: 20px;

  a {
    display: inline-block;
    width: 368px;
    height: 46px;
    background: black;
    border: 1px solid black;
    line-height: 46px;
    padding: 0 25px;
    text-decoration: none;
    color: white;
  }
  &:hover a {
    background: white;
    color: black;
  }
  &:hover .viewAll_button_right {
    background: url(../images/sprites_header_footer.png) -40px -163px;
    transition: 0.3s;
  }
}
.viewAll_button_right {
  position: absolute;
  width: 20px;
  height: 30px;
  background: url(../images/sprites_header_footer.png) -9px -163px;
  top: 10px;
  right: 365px;
}
