#typetitle {
  width: 100%;
  height: 36px;
  // background: #ffa;
  margin-top: 8px;
  margin-bottom: 8px;
}

#typetitle ul {
  height: 100%;
  width: 100%;
  text-align: center;
  // background: red;
}

#typetitle ul li{
 font-size:15px;
  margin-top:8px;
  display: inline-block;
  margin-left:8px;
  padding:5px 0;
  color:#999;
  cursor: pointer;
}
// #typetitle ul li:first-child {
//   cursor: pointer;
//   font-size: 15px;
//   // border-top: 1px solid #fff;
//   // color:#999;
  
// }
#typetitle ul li:hover{
  color:black;
  text-decoration: overline;
}
